# this file contains the extra requirements needed to run the end to end workflows.
# they have been separated from the tests main requirements to keep the main tests
# dependencies as light as possible.
h5py==3.11.0
numpy==2.1.1
pandas==2.2.3
scikit-learn==1.5.2
torch==2.4.1+cpu
--extra-index-url https://download.pytorch.org/whl/cpu
