# this file contains the extra requirements needed to run the end to end workflows.
# they have been separated from the tests main requirements to keep the main tests
# dependencies as light as possible.
h5py==3.2.1
numpy==1.22.3
pandas==1.4.2
scikit-learn==1.1.0
