apiVersion: apps/v1
kind: Deployment
metadata:
  name: substra-tests
spec:
  selector:
    matchLabels:
      app: substra-tests
  replicas: 1
  template:
    metadata:
      labels:
        app: substra-tests
    spec:
      containers:
      - name: substra-tests
        image: <<<REGISTRY>>>/substrafoundation/substra-tests:local
        command: ["bash", "-c"]
        args:
          - |
            sleep infinity
